* {
  /* background-color: #cb9898; */
  font-family: "Lato";
}

.body {
  position: relative;
  display: flex;
  background-color: #cb9898;
  min-height: 100vh;
}

.sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100%;
}

.sidebar .logo {
  position: relative;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
}

.sidebar .logo img {
  width: 80%;
}

.redirect-buttons {
  margin-top: 5%;
  display: flex;
  background: white;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

.home-button {
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40px;
  color: rgb(187, 0, 103);
  background: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(187, 0, 103);
}

.home-button:hover {
  background: #cb9898;
  cursor: pointer;
}

.profile-button {
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40px;
  color: rgb(187, 0, 103);
  background: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(187, 0, 103);
}

.profile-button:hover {
  background: #cb9898;
  cursor: pointer;
}

.logout-button {
  position: relative;
  margin-top: 60%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40px;
  color: white;
  background: rgb(187, 0, 103);
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: center;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(187, 0, 103);
}

.logout-button:hover {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(187, 0, 103);
  background: white;
  color: rgb(187, 0, 103);
  cursor: pointer;
}

.profile-page-feed {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.profile-picture {
  align-content: center;
  background: white;
  margin-top: 10px;
}

.tweet-picture {
  width: 100px;
  height: 100px;
}

.profileDiv {
  background-color: white;
}

.profile-modal {
  background-color: white;
  width: 30%;
  height: 40%;
}

.closeModal {
  float: right;
}

.profName {
  background-color: white;
  margin-top: 10px;
  font-size: 28px;
}

.profUsername {
  background-color: white;
  font-size: 18px;
  opacity: 0.5;
}
