* {
  background-color: #cb9898;
  font-family: "Lato";
}

.body {
  position: relative;
  display: flex;
  background-color: #cb9898;
  min-height: 100vh;
}

.sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100%;
}

.sidebar .logo img {
  position: absolute;
  margin-top: 20px;
  margin-left: -124px;
  width: 250px;
}

.logout-button {
  position: relative;
  margin-top: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 40px;
  color: white;
  background: rgb(187, 0, 103);
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: center;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(187, 0, 103);
}

.logout-button:hover {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(187, 0, 103);
  background: white;
  color: rgb(187, 0, 103);
  /* border-color: rgb(255, 225, 0);
  border-width: 5px;
  border-style: solid; */
  cursor: pointer;
}

.profile-page-feed {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
